.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 60%;
}

.App-link {
  color: #61dafb;
}

.Another {
  padding-block-end: 1em;
}

.Calcs {
  font-size: calc(10px + 1vmin);
}

.Yen,
.Asahi,
.Yebisu {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: #282c34;
  border: solid 1px #0f9ada;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.Yen:active,
.Asahi:active,
.Yebsisu:active {
  /*onClick*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

.Beer-results {
  height: calc(10px + 1vmin);
}

.Advice {
  font-style: italic;
  font-size: calc(6px + 1vmin);
  padding-block-start: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}